@import "tailwindcss";

/* Tạm thời xóa hết các css mặc định của Vite để tránh xung đột màu sắc khi dùng Tailwind CSS */
@keyframes slide-in {
    from {
        transform: translateX(120%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out;
}